fastapi
uvicorn[standard]
pandas
pydantic
pydantic-settings
python-dotenv
httpx
langgraph
openai
tavily-python
PyMuPDF
faiss-cpu
sentence-transformers
torch
transformers
ollama
sqlalchemy
psycopg2-binary
alembic
redis